.mobile__modal {
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.mobile__content {
  position: fixed;
  z-index: 1;
  top: 20px;
  box-sizing: border-box;
  width: 70%;
  height: 208px;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  box-shadow: 0px 2px 8px 0px #0000001a;
}

.mobile__modal__opened {
  visibility: visible;
}

.mobile__user__info {
  margin-bottom: 31px;
  align-items: center;
  gap: 12px;
  display: flex;
}

.mobile__button {
  font-family: "Cabinet Grotesk", sans-serif;
  line-height: 24px;
  font-weight: 700;
  font-size: 20px;
  background: none;
  border: none;
  cursor: pointer;
  margin: 8px;
}
