.profile {
  flex-direction: column;

  display: flex;
}

.profile__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 520px;
}

.profile__header__items {
  display: flex;
  gap: 20px;
}

.profile__header__text {
  font-size: 20px;
  margin-right: 10px;
  font-weight: bold;
  margin: 0;
}
.profile__header__btn {
  border-style: none;
  font-size: 20px;
  cursor: pointer;
  color: #00000099;
}
