.modal__input_type_error {
  border-bottom: 1px solid rgba(255, 77, 0, 1);
  /* box-shadow: 0 0 0 3px rgba(231, 76, 60, 0.06); */
}

.modal__error {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: rgba(255, 77, 0, 1);
  font-size: 12px;
  margin: 6px 0 8px 0;
}



.modal__radio__item_type_error .modal__radio__label {
  color: #e74c3c;
}

/* Make radio items slightly stand out when invalid */
.modal__radio__item_type_error {
  border: 1px solid rgba(231, 76, 60, 0.12);
  box-shadow: 0 0 0 3px rgba(231, 76, 60, 0.06);
  border-radius: 4px;
  padding: 4px;
}
