.item-cards__container {
  display: flex;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
  gap: 17px;
  justify-content: center;
}

.item-card {
  position: relative;
  width: 328px;
  height: 328px;
}

.item__title {
  left: 0;
  right: 0;
  top: 5px;
  text-align: center;
  margin: 12px auto;
  font-weight: 700;
  line-height: 20px;
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 16px;
  padding: 2px 12px;
  border-radius: 4px;
  max-width: fit-content;
  background-color: #fff;
  position: absolute;
  color: rgba(0, 0, 0, 0.6);
}
.item__img {
  border: 1px solid #0000004d;
  border-radius: 19px;
  width: 328px;
  height: 328px;
  object-fit: cover;
}

.item__like-button {
  position: absolute;
  right: 108px;
  top: 21px;
  background-color: transparent;
  border-style: none;
  cursor: pointer;
  width: 20px;
  height: 18px;
  background-image: url(../../assets/like=false-icon.svg);
}
.item__like-button_active {
  background-image: url(../../assets/like=true-icon.svg);
}

@media screen and (max-width: 760px) {
  .item-cards__container {
    gap: 15px;
  }

  .item-card {
    width: 164px;
    height: 164px;
  }

  .item__img {
    width: 164px;
    height: 164px;
  }
  .item__like-button {
    left: 130px;
    top: 19px;
  }
}
