.main__section {
}

.main__title {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  margin: 40px 0;
}

@media screen and (max-width: 760px) {
  .main__title {
    width: 100%;
    text-align: center;
  }
}
