.header__container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 28px;
  position: relative;
}

.header__span-left {
  align-items: center;
  display: flex;
}
.header__span-right {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__logo {
  width: 89px;
  height: 40px;
  margin-right: 24px;
}

.header__info {
  font-family: "Cabinet Grotesk", sans-serif;
  line-height: 24px;
  font-weight: 700;
  font-size: 20px;
  margin: 0;
  white-space: nowrap;
}

.header__btn {
  font-family: "Cabinet Grotesk", sans-serif;
  line-height: 24px;
  font-weight: 700;
  font-size: 20px;
  background: none;
  border: none;
  cursor: pointer;
  margin-right: 8px;
}

.header__name {
  margin: 0;
  font-family: "Cabinet Grotesk", sans-serif;
  line-height: 100%;
  font-weight: 700;
  font-size: 20px;
}

.header__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.header__options {
  visibility: hidden;
  width: 44px;
  height: 44px;
  cursor: pointer;
  background-color: rgba(243, 243, 243, 1);
  border-style: none;
  position: absolute;
  right: 15px;
}

@media screen and (max-width: 760px) {
  .header__container {
    margin-bottom: 16px;
  }

  .header__logo {
    margin-bottom: 34px;
    width: 89px;
    height: 40px;
    margin-right: 80px;
  }

  .header__span-right {
    visibility: collapse;
  }
  .header__options {
    visibility: visible;
  }

  .header__span-left {
    flex-direction: column;
  }
}
