.footer {
  background-color: rgba(243, 243, 243, 1);
  display: flex;
  justify-content: space-between;
  padding: 32px 40px 50vh;
}
.footer__text {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  vertical-align: bottom;
}
