.modal__register-button {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.3);
  border-style: none;
  border-radius: 4px;
  max-width: 124px;
  padding: 8px 16px;
  margin-left: 70px;
  background: none;
  cursor: pointer;
  position: absolute;
  bottom: 2px;
}

.modal__submit-button_type_register {
  max-width: 73px;
}

.modal__submit-button_type_register:hover {
  background-color: rgb(0, 0, 0);
}

.modal__success__message {
  color: rgb(60, 173, 60);
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}
