.clothes__text {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  white-space: nowrap;
}

.clothes__add__btn {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  border-style: none;
  font-size: 20px;
  cursor: pointer;
  color: #00000099;
  white-space: nowrap;
}

.clothes__options {
  display: flex;
  gap: 10px;
  max-width: 55%;
  position: relative;
  bottom: 44px;
  left: -100px;

  max-height: 27px;
}

.clothes__list {
  list-style: none;
  display: flex;
  padding-top: 30px;
  margin-left: auto;

  flex-wrap: wrap;
  gap: 17px;
  max-width: 700px;
  justify-content: end;
}
@media screen and (max-width: 860px) {
  .clothes__list {
    max-width: 680px;
    padding-top: 0;
  }
  .clothes__options {
    left: -4px;
    bottom: 5px;
    gap: 0;
  }
}
