.clothes__text {
  font-size: 20px;
  margin-right: 10px;
  font-weight: bold;
  margin: 0;
}

.clothes__add__btn {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  border-style: none;
  font-size: 20px;
  cursor: pointer;
  color: #00000099;
}

.clothes__options {
  display: flex;
  gap: 10px;
  padding-left: 100px;
  justify-content: end;
  max-width: 55%;
  padding-top: 35px;
}
