.clothes__text {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  white-space: nowrap;
}

.clothes__add__btn {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  border-style: none;
  font-size: 20px;
  cursor: pointer;
  color: #00000099;
  white-space: nowrap;
}

.clothes__options {
  display: flex;
  gap: 10px;
  max-width: 55%;
  position: absolute;
  top: 108px;
  max-height: 27px;
}

.clothes__list {
  list-style: none;
  display: flex;
  padding-top: 30px;
  margin-left: auto;
  flex-wrap: wrap;
  gap: 17px;
  width: 78%;
  justify-content: end;
}
@media screen and (max-width: 760px) {
  .clothes__options {
    top: 131px;
    right: 33px;
  }
}
@media screen and (max-width: 600px) {
  .clothes__list {
    display: flex;
    justify-content: center;
    padding: 73px 0 0 0;
    margin: 0 auto 0 auto;
  }

  .clothes__options {
    top: 127px;
    gap: 0;
    right: 20px;
  }
}
