.modal__submit-button_type_login {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  border-style: none;
  border-radius: 4px;
  max-width: 73px;
  padding: 8px 16px;
  background-color: rgba(0, 0, 0, 0.3);
}

.modal__submit-button_type_login:hover {
  background-color: rgb(0, 0, 0);
}
